{% extends "layout.html" %}
{% block body %}
    <script src="../static/src/js/boarding.js"></script>
    <form action="/board-wait" id="boardForm" method=post class="form-horizontal">
        <input type="hidden" name="routeId"
                {% if  selected_route %}
               value="{{ selected_route.id }}"
                {% endif %}/>
        <input type="hidden" name="startRoute"
                {% if  selected_stop %}
               value="{{ selected_stop.id }}"
                {% endif %}/>
    </form>
    <h2>Board Wait</h2>
    <div class="row">
        <div class="large-12 columns">
            <div class="callout">
                <h4>This is the simple mock UI to demonstrate the board-wait scenario.
                    Instead of taking the user's current location and finding the nearest stop, we choose the starting
                    bus station manually.
                    The rest of the algorithm remains the same.
                </h4>
            </div>
        </div>
    </div>
    <div class="row">
        {% if all_routes and not selected_route %}
            <div class="small-4 columns">
                <h4>Route</h4>
            </div>
            <div class="medium-6 large-8 columns">
                <select id="routeSelectInput"
                >
                    <option>Select</option>
                    {% for route in all_routes %}
                        <option value="{{ route.id }}">{{ route.route_name }}</option>
                    {% endfor %}

                </select>
            </div>
        {% elif selected_route %}
            <div class="small-4 columns">
                <h4>Selected Route:</h4>
            </div>
            <div class="medium-6 large-8 columns">
                {{ selected_route.route_name }}
            </div>
        {% endif %}
    </div>
    <div class="row">
        {% if selected_route and not selected_stop %}
            <div class="small-4 columns">
                <h4>Start point</h4>
            </div>
            <div class="medium-6 large-8 columns">
                <select id="startSelectInput"
                >
                    <option>Select</option>
                    {% for route_location in all_stops %}
                        <option value="{{ route_location.id }}">{{ route_location.stop_name }}</option>
                    {% endfor %}

                </select>
            </div>
        {% elif selected_stop %}
            <div class="small-4 columns">
                <h4>Selected start point: </h4>
            </div>
            <div class="medium-6 large-8 columns">
                {{ selected_stop.stop_name }}
            </div>
        {% endif %}
    </div>
    <div class="row">
        {% if selected_route and selected_stop and estimated_time %}
            <div class="small-4 columns">
                <h4>Estimation </h4>
            </div>
            <div class="medium-6 large-8 columns">
                from : {{ selected_stop.stop_name }} to board the arriving bus in Route
                : {{ selected_route.route_name }} is
                Duration :{{ estimated_time.duration }}
                Distance :{{ estimated_time.distance }}
            </div>
        {% endif %}
    </div>
    <a href="{{ url_for('home') }}">Back to home</a>
{% endblock %}