<!doctype html>
<title>Board Me Application</title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<style>
body {
    padding-top: 60px;
    padding-bottom: 100px;
}
</style>
<link href="../static/vendor/css/bootstrap-3.3.5.min.css" rel="stylesheet">
<link href="../static/vendor/css/bootstrap-responsive.css" rel="stylesheet">
<link href="../static/vendor/css/bootstrap-theme-3.3.5.min.css" rel="stylesheet">

<link href="../static/src/css/main.css" rel="stylesheet">

<script src="../static/vendor/js/jquery-2.1.4.min.js"></script>
<script src="../static/vendor/js/bootstrap.js"></script>

<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse"
                    data-target=".nav-collapse">
                    <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span>
                </button>
                <a class="brand" href="/">DextrousInc</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/users">Users</a></li>
                        <li><a href="/routes">Routes</a></li>
                        {% if logged_in %}
                        <li><a href="/board">Board</a></li>
                        {% endif %}
                    </ul>
                    {% if logged_in %}
                    <ul class="nav navbar-nav navbar-right" >
                        <li>Welcome {{ user_name }}</li>
                        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> logout</a></li>
                    </ul>
                    {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/login"><span class="glyphicon glyphicon-user"></span> SignIn</a></li>
                        <li><a href="/register"><span class="glyphicon glyphicon-log-in"></span> Register</a></li>
                    </ul>
                    {% endif %}
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
</div>

{%- for category, message in get_flashed_messages(with_categories=true) %}
  <p class="flask {{ category }}-flash">{{
    "Error: " if category == 'error' }}{{ message }}</p>
{%- endfor %}
<div id="main" class="container">
    {% block body %}{% endblock %}
    <hr>
    <footer id="footer">
        <p>Todo App built using Flask, SQLAlchemy, PostgreSQL , and Twitter Bootstrap</p>
        <p>
            <a href="https://www.openshift.com/" target="_blank">
                <img alt="Powered by OpenShift" src="https://www.openshift.com/sites/default/files/images/powered-transparent-black.png">
            </a>
        </p>
    </footer>
</div>