{% extends "layout.html" %}
{% block body %}
<h2>Available routes</h2>
<table>
  <thead>
    <tr>
      <th width="20%">Name</th>
      <th width="20%">Start Location</th>
      <th width="20%">End location</th>
      <th width="10%">Total Fare</th>
      <th width="20%">Attached Beacon</th>
      <th width="10%">Action</th>
    </tr>
  </thead>
  <tbody>
  {% for route in routes %}
    <tr>
      <td>{{ route.route_name }}</td>
      <td>{{ route.route_start}}</td>
      <td>{{ route.route_end}}</td>
      <td>{{ route.route_fare}}</td>
      <td>{{ route.beacon_id}}</td>
      <td><a href="/route-locations/{{ route.id }}" class="small button">View stops</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}